/* Filename:main.css
 * Website:My Little Tribe
 * Author:Syed Zeeshan Ahmed
 * Date Created:08/08/2012
 * Media:Screen
 *
 * Description
 * -----------
 * Colours:* Background - #FFF3AC
 * Link - #000000 
 * Link Hover - #000000 
 * Link Active - #000000 
 *
 *=====================================================================*/ 

/* Layout styles 
 index -> 
 			css reset
 			font face
 			default styles 
 			global styles
			custom styling
			gallery slideshow
			gallery page
			portfolio
 			read more button
 			header
 			nav bar
 			slider
			widgets
 			footer
			mailchimp 
			new css
			responsive media queries

*/

/* = css reset
--------------------- */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section { display:block; }
audio,canvas,video { display:inline-block;*display:inline;*zoom:1; }
audio:not([controls]) { display:none; }
html { font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%; }

/* =font face
--------------------- */
 @font-face { font-family:'DINCond-Medium';src:url('../fonts/dicnmd.eot');src:url('../fonts/dicnmd-.eot#iefix') format('embedded-opentype'),url('../fonts/dicnmd.woff') format('woff'),url('../fonts/dicnmd.ttf') format('truetype'),url('../fonts/dicnmd.ttf') format('truetype'),url('../fonts/dicnmd.svg#dicnmd') format('svg');font-weight:normal;font-style:normal; }

/* = default styles
-------------------------- */  
body { position:relative;padding-top:47px;background-color:#fff;background-image:url("../images/pattern.jpg");background-repeat:repeat;background-position:0 40px;margin:0;font-family:"museo-sans","Helvetica Neue",Helvetica,Arial,sans-serif;/*SW 27/08/12*/
 font-size:13px;line-height:18px;color:#333333; border: 20px solid #FFF; }
.pageWrapper { }
img { /*max-width:100%;*/
 vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;-webkit-transition:all 0.2s ease-in-out;/* -o-transition:all 0.2s ease-in-out;*/
 -moz-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out; }
.clearfix { *zoom:1; }
.clearfix:before,.clearfix:after { display:table;content:""; }
.clearfix:after { clear:both; }
a { color:#0088cc;text-decoration:none;-webkit-transition:all 0.2s ease-in-out;/* -o-transition:all 0.2s ease-in-out;*/
 -moz-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out; }
a:hover { color:#005580;text-decoration:underline; }
p { margin:0 0 9px; }
p small { font-size:11px;color:#999999; }
h1,h2,h3,h4,h5,h6 { margin:0;font-family:inherit;color:inherit;text-rendering:optimizelegibility; font-weight:normal; }
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small { font-weight:normal;color:#999999; }
h1 { font-size:30px;line-height:36px; }
h1 small { font-size:18px; }
h2 { font-size:24px;line-height:36px;font-family:'DINCond-Medium'; }
h2 small { font-size:18px; }
h3 { font-size:18px;line-height:27px; }
h3 small { font-size:14px; }
h4,h5,h6 { line-height:18px; }
h4 { font-size:14px; }
h4 small { font-size:12px; }
h5 { font-size:12px; }
h6 { font-size:11px;color:#999999;text-transform:uppercase; }
ul,ol { padding:0;margin:0 0 0px 0px; }
ul ul,ul ol,ol ol,ol ul { margin-bottom:0; }
ul { list-style:disc; }
ol { list-style:decimal; }
li { line-height:18px; }
ul.unstyled,ol.unstyled { margin-left:0;list-style:none; }
dl { margin-bottom:18px; }
dt,dd { line-height:18px; }
dt { font-weight:bold;line-height:17px; }
dd { margin-left:9px; }
strong { font-weight:bold; }
em { font-style:italic; }
form { margin:0 0 18px; }
fieldset { padding:0;margin:0;border:0; }
legend { display:block;width:100%;padding:0;margin-bottom:27px;font-size:19.5px;line-height:36px;color:#333333;border:0;border-bottom:1px solid #e5e5e5; }
legend small { font-size:13.5px;color:#999999; }
label,input,button,select,textarea { font-size:13px;font-weight:normal;line-height:18px; }
input,button,select,textarea { font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; }
label { display:block;margin-bottom:5px;padding-top:5px; }
select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input { display:inline-block;height:23px;padding:4px;margin-bottom:9px;font-size:13px;line-height:18px;color:#555555;margin-right:9px; }
input { width:30.3%; }
textarea { height:auto;width:97.2%; }
textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input { background-color:#ffffff;border:3px solid #e2e2e2;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;-moz-transition:border linear 0.2s,box-shadow linear 0.2s;-ms-transition:border linear 0.2s,box-shadow linear 0.2s;-o-transition:border linear 0.2s,box-shadow linear 0.2s;transition:border linear 0.2s,box-shadow linear 0.2s; }
textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus { border-color:rgba(82,168,236,0.8);outline:0;outline:thin dotted \9;/* IE6-9 */

 -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6); }

/* =global styles
-------------------------- */
[class*="span"] { float:left;margin-left:10px; }
.container { }
.container,.navbar-fixed-top .container,.navbar-fixed-bottom .container { width:900px; }
.span14 { width:300px; }
.span13 { width:400px; }
.span12 { width:900px; }
.span11 { width:860px; }
.span10 { width:780px; }
.span9 { width:700px; }
.span8 { width:620px; }
.span8.noImage { width:100%; }
.span7 { width:540px; }
.span6 { width:430px; }
.span5 { width:380px; }
.span4 { width:286px; }
.span3 { width:210px; }
.span2 { width:140px; }
.span1 { width:60px; }
.container { margin-right:auto;margin-left:auto;*zoom:1; }
.container:before,.container:after { display:table;content:""; }
.container:after { clear:both; }
.collapse { position:relative;height:0;overflow:hidden;-webkit-transition:height 0.35s ease;-moz-transition:height 0.35s ease;-ms-transition:height 0.35s ease;-o-transition:height 0.35s ease;transition:height 0.35s ease;margin-top:95px; }
.f-right { float:right!important; }
.f-left { float:left!important; }
rollover_effect { -webkit-transition:all 0.2s ease-in-out;/* -o-transition:all 0.2s ease-in-out;*/
 -moz-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out; }
img.grey { position:relative;left:0;top:0;z-index:10;max-width:100%; }
img.color { position:absolute;left:0;top:0;max-width:100%; } 

.hidePagination { display: none; }    

/* =custom styling
-------------------------- */
.brand:hover { text-decoration:none; }
.brand { display:block;float:left;padding:0px 0px 31px;margin-left:7px;font-size:20px;font-weight:200;line-height:1;color:#999999;margin-right:123px; }
.blog { width:100px;height:127px;position:absolute;top:-47px;right:0px;cursor:pointer; }
.blog:hover { }
.blog img { max-width:100%; }
.divider { background-image:url("../images/divider.png");background-repeat:repeat-x;background-position:bottom left; }
.tagline-wrap { width:100%;padding-bottom:44px;position:relative; }
.tagline { background-color:#fff3ac;color:#000;font-size:23px;line-height: 29px;padding:28px 80px 24px 43px;letter-spacing:2px;margin-top:7px;margin-right:25px;font-family:'DINCond-Medium'; }
.tagline-wrap span { position:absolute;right:0px;top:-2px; }
.widget-panel-wrap { padding-top:25px;padding-bottom:25px; }
.widget-panel-wrap .block { float:left;margin-right:30px; }
.widget-panel-wrap .block img { }
.last { margin-right:0px!important; }
.last-l { margin-left:0px!important; }
.span6 p { font-size:22px;line-height:28px;font-weight:700;color:#454545; }
.photgraphy-testimonial-wrap { background-image:url("../images/divider.png");background-repeat:repeat-x;background-position:top left;padding-top:20px; clear: both; }
.photgraphy-testimonial-wrap .titleRow { overflow: hidden;background-image:url("../images/divider.png");background-repeat:repeat-x;background-position:bottom left;padding-bottom:16px; }
.photgraphy-testimonial-wrap .titleRow h2 { float:left;font-size:30px;font-weight:100;width:580px;margin-right:40px; }
.photgraphy-testimonial-wrap .titleRow h2.last { margin-right:0px; }
.photgraphy-testimonial-wrap article { margin-left:0px;width: 580px;margin-right: 40px; }
.photgraphy-testimonial-wrap article.last { margin-right:0px; }
.photgraphy-testimonial-wrap .row { background-image:url("../images/divider.png");background-repeat:repeat-x;background-position:left 45px; }
.photgraphy-testimonial-wrap p { padding-top:18px;font-family:'museo-sans';font-weight:100;line-height: 29px; }
.photgraphy-testimonial-wrap h3 { font-size:22px;padding-top:15px;font-family:'din-condensed-web';font-weight:400; }
.blog_img article section.articleHeader p.authorDate { padding-top:15px;font-family:'din-condensed-web'; font-weight: 100; }

/* =gallery slideshow
-------------------------- */
.gallery-button-area { width:100%;padding-bottom:23px;background-image:url("../images/curl.png");background-repeat:repeat-x;background-position:bottom left; }
.background_none { background-image:none!important; }
.gallery-button-area .readmore { margin-top:0px;float:left; }
.slide-caption { background-color:#fffcc8;padding:7px;margin:0px 25px 0px 25px;float:left;width:75.8%;text-align:center;color:#454545;font-family:'DINCond-Medium';font-size:17px;height:18px; }
.page-info-wrap { padding:7px 0px 14px 0px;background-image:url("../images/curl.png");background-repeat:repeat-x;background-position:bottom left; }
.page-info { float:left;background-color:#feeb73;padding:0px 10px 0px 0px;margin-left:15px;text-transform:uppercase; }
.page-info span { display:inline-block;margin-left:-15px;padding-right:10px; }
.page-info p { display:inline-block;vertical-align:text-top;font-family:'DINCond-Medium';font-size:18px; }
.page-info p small { color:#7d7d7d;font-size:18px; }
.gallery-nav { float:right;font-size:18px;margin-top:10px;color:#000;font-family:'DINCond-Medium'; }
.gallery-nav a { text-decoration:underline;padding-left:20px;color:#7d7d7d; }
.gallery-nav a:hover { color:#000; }
.gallery-nav img { vertical-align:inherit;margin-right:10px; }

/* =gallery page
-------------------------- */
.filter-gallery { padding-top:15px; }

.isotope-item { z-index:2; }
.isotope-hidden.isotope-item { pointer-events:none;z-index:1; }
.isotope-item { -webkit-transition-duration:0.8s; }

/* Some clearfix code from HTML5 Boilerplate */
.clearfix:before,.clearfix:after { content:"\0020";display:block;height:0;visibility:hidden; }
.clearfix:after { clear:both; }
.clearfix { zoom:1; }

#filter-gallery.project { width:94% !important; }

/* =portfolio
-------------------------- */
#filterNav { margin-bottom:30px!important;display:block;background-image:url("../images/divider.png");background-repeat:repeat-x;background-position:bottom left; }
.thumbs { -webkit-transition-duration:0.8s; }

/*Project Filter Navigation*/
#filter-gallery #filterNav { margin:0 0 20px 0!important;padding:15px 0px 15px 0px!important; }
#filter-gallery #filterNav li { padding:1px 0 0 0;background:none;margin:0 30px 5px 0;display:block;float:right;font-family:'DINCond-Medium';text-transform:uppercase; }
#filterNav li a { font-size:11px;background:url("../images/pluse.png");background-repeat:no-repeat;background-position:6px;display:inline-block;color:#5b5a5a!important;text-decoration:none;position:relative;cursor:pointer;padding:0 6px 0 30px !important;border:none;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;line-height:20px;font-size:16px; }
#filterNav li a:hover { background-image:url("../images/pluse.png");background-repeat:no-repeat; }
#filterNav li a span { float:left; }
#filterNav li a span img { vertical-align:inherit;margin-right:8px; }
#filterNav .selected { background-image:url("../images/x.png");background-repeat:no-repeat;background-position:6px; }
#ajaxLoading { width:16px;height:16px;background:transparent url("http://www.mylittletribe.com.au/themes/mlt/css/images/ajax_loading.gif") no-repeat;position:absolute;left:3%;top:30px;display:block;display:none; }
#projects { }
#projects { list-style:none; }
#projects .thumbs { margin:0px auto;margin-left:16px;width:100%;min-height:800px; }
#filter-gallery #projects li { padding:0;background:none; }
#filter-gallery .project.small { width:auto;display:block;margin:0 18px 20px 0px;opacity:0;padding-bottom:0px;cursor:pointer; }
#filter-gallery .project.small { position:relative;overflow:hidden;display:block;line-height:1px;zoom:1; }
#filter-gallery .project.fourth { margin-right: 0px; }
#filter-gallery .project.small img { margin:0 0 0 0 !important;width:275px;height:130px;border:5px solid #fff;-webkit-transition:all 0.2s ease-in-out;/* -o-transition:all 0.2s ease-in-out;*/
 -moz-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out; }
#filter-gallery .project.small img:hover { border:5px solid #ffde1d; }
#filter-gallery .project.small .title { display:none;color:#FFF;position:absolute;bottom:0;left:0;padding:0;font-size:0.917em;width:100%;font-size:11px;line-height:1.1em;background:transparent url("http://www.mylittletribe.com.au/themes/mlt/css/images/black_alpha_50.png"); }
#filter-gallery .project.small.selected .title { zoom:1;filter:alpha(opacity=100);opacity:1;display:block;visibility:visible; }
#filter-gallery .project.small .title span { padding:12px 17px 12px 17px;display:block; }
#projectBox { margin-bottom:30px;padding:0 0 0 0;overflow:hidden;background:#e2e2e1;height:auto; }
#projectHolder { margin:0 3% 0 3%;height:auto;display:none; }
.padding-background { padding:0px 0px 0px 0px!important;background-color:none!important; }
#filter-gallery .project a { float:left!important; }

/* =read more button
-------------------------- */
.readmore { padding:7px 10px 7px 10px;background-color:#e8eef5;margin-top:52px;display:inline-block;color:#000;text-transform:uppercase;font-family:'DINCond-Medium';font-size:14px;letter-spacing:1.5px; }
.readmore span { margin-right:5px;vertical-align:text-bottom; }
.readmore:hover { background-color:#ffde1d;color:#fff; }

/* =header
-------------------------- */
header { position:relative; }
header .nav { margin-top: 2px; } 
header .nav li a {background-position:left 16px;}
header .nav li a:hover {background-position:left 16px;}

/* =nav bar
-------------------------- */
nav { margin-top:102px; }
.container { width:900px; }
.navbar-fixed-bottom { bottom:0; }
.nav { position:relative;left:0;display:block;float:left;margin:0 10px 0 0; }
.nav.pull-right { float:right; }
.nav > li { display:block;float:left; }
.nav > li.BlogHolder { display:none; }
.nav > li > a { float:none;padding:9px 0px 11px 25px;line-height:19px;color:#454545;text-decoration:none;font-size:24px;text-transform:uppercase;background-image:url("../images/arow-orange.png");background-repeat:no-repeat;background-position:left;margin-right:27px;font-family:'DINCond-Medium'!important; }
.nav > li > a:hover { text-decoration:underline;background-color:transparent;background-image:url("../images/arrow-pink.png");background-repeat:no-repeat;background-position:left;-webkit-transition:all 0.2s ease-in-out;/* -o-transition:all 0.2s ease-in-out;*/
 -moz-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out; }
.nav .active > a,.nav .active > a:hover { text-decoration:underline;background-image:url("../images/arrow-pink.png");background-repeat:no-repeat;background-position:left; }

/* =slider
-------------------------- */

 .slider-wrapper { overflow:hidden;padding-top:25px;margin-bottom:14px;}
/* Browser Resets */
.flex-container a:active,.flexslider a:active,.flex-container a:focus,.flexslider a:focus { outline:none; }
.slides,.flex-control-nav,.flex-direction-nav { margin:0;padding:0;list-style:none; }
.slider-wrapper section { width:281px;float:left; }
/* FlexSlider Necessary Styles
*********************************/ 
.flexslider { margin:0;padding:0; }
.flexslider .slides > li { display:none;-webkit-backface-visibility:hidden;text-align:center; } /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img { width:auto;display:inline-block;max-height:756px;}
.flex-pauseplay span { text-transform:capitalize; }
/* Clearfix for the .slides element */
.slides:after { content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0; }
html[xmlns] .slides { display:block; }
* html .slides { height:1%; }
.headerHolder { color: #333333; }
.headerHolder h1 { line-height: 90px; }
/* No JavaScript Fallback */
/* If you are not using another script,such as Modernizr,make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child { display:block; }
/* FlexSlider Default Theme
*********************************/
.flexslider { width:879px;float:left;margin:0px 28px 0px 0px;background:#fff;border:11px solid #fff;position:relative;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;border-radius:4px;zoom:1; }
.flexslider.gallery { width: auto; float: none; margin-left: 0px; margin-right: 0px; }
.flex-viewport { max-height:2000px;-webkit-transition:all 0.2s ease;-moz-transition:all 0.2s ease;transition:all 0.2s ease; }
.loading .flex-viewport { max-height:300px; }
.flexslider .slides { zoom:1; }
.carousel li { margin-right:5px }
/* Direction Nav */
.flex-direction-nav { *height:0; }
.flex-direction-nav a { width:76px;height:76px;margin:-50px 0 0;display:block;background:url("../images/bg_direction_nav.png") no-repeat 0 0;position:absolute;top:50%;cursor:pointer;text-indent:-9999px;opacity:0;-webkit-transition:all .3s ease; }
.flex-direction-nav .flex-next { background-position:100% 0;right:5px; }
.flex-direction-nav .flex-prev { left:5px; }
.flexslider:hover .flex-next { opacity:0.8;right: 28px; }
.flexslider:hover .flex-prev { opacity:0.8;left: 28px; }
.flexslider:hover .flex-next:hover,.flexslider:hover .flex-prev:hover { opacity:1; }
.flex-direction-nav .flex-disabled { opacity:.3!important;filter:alpha(opacity=30);cursor:default; }
/* Control Nav */
.flex-control-nav { width:100%;position:absolute;bottom:32px;text-align:left;left:25px; }
.flex-control-nav li { margin:0px 2px 0px 2.5px;display:inline-block;zoom:1;*display:inline; }
.flex-control-paging li a { width:20px;height:20px;display:block;background-image:url("../images/bullet-new.png");background-repeat:no-repeat;cursor:pointer;text-indent:-9999px; }
.flex-control-paging li a:hover { background-image:url("../images/bullet-new.png");background-repeat:no-repeat;background-position:-24px top; }
.flex-control-paging li a.flex-active { background-image:url("../images/bullet-new.png");background-repeat:no-repeat;background-position:-24px top;cursor:default; }
.flex-control-thumbs { margin:5px 0 0;position:static;overflow:hidden; }
.flex-control-thumbs li { width:25%;float:left;margin:0; }
.flex-control-thumbs img { width:100%;display:block;opacity:.7;cursor:pointer; }
.flex-control-thumbs img:hover { opacity:1; }
.flex-control-thumbs .flex-active { opacity:1;cursor:default; }
@media screen and (max-width:860px) { .flex-direction-nav .flex-prev { opacity:1;left:0; }
 .flex-direction-nav .flex-next { opacity:1;right:0; } }

/* =widgets
-------------------------- */
.thumbnails { margin-left:-20px;margin-top:-1px;list-style:none;*zoom:1; }
.thumbnails:before,.thumbnails:after { display:table;content:""; }
.thumbnails:after { clear:both; }
.row-fluid .thumbnails { margin-left:0; }
.thumbnails > li { float:left;margin-bottom:8px;margin-left:20px;position:relative;background-image:url("../images/curl.png");background-repeat:repeat-x;background-position:left bottom;padding-bottom:20px; }
.thumbnails > li.last { background: none; }
.thumbnail { display:block;line-height:1; }
a.thumbnail:hover { }
.thumbnail > img { display:block;max-width:103%;margin-right:auto;margin-left:auto;left:-4px;top:-4px; }
.thumbnail .caption { padding:9px; }

/* =footer
-------------------------- */
.footer-wrapper { background-image:url("../images/circle.png"); background-repeat:repeat-x;min-height:278px;margin-top: 56px;position:relative; }
.footer-wrapper .center { background-image:url("../images/footer-bg.png");background-repeat:repeat-x;min-height:144px;padding-top:134px; }
.footer-wrapper.bottom { position:absolute;bottom:0px;width:100%; }
.footer { margin:0px auto;width:90%;padding:0px 20px 0px 20px; }
.footer span { font-size:18px;text-transform:uppercase;font-family:'din-condensed-web';margin-right:24px; }
.social-footer { margin-top:57px;float:left; }
.footer-logo { float:right;margin-top:28px; }
.sitemap { float:right;text-align:right;margin-top:54px;margin-right:45px;text-transform:uppercase; }
.sitemap a { display:block;padding-bottom:4px;font-size:15px;color:#000;text-decoration:underline;font-family:'din-condensed-web', 'DINCond-Medium'; }
/* clearfix */
.clearfix:after { clear:both;content:" ";display:block;font-size:0;height:0;visibility:hidden; }
* html .clearfix { zoom:1 }
*:first-child+html .clearfix { zoom:1 } 

/* =mailchimp
-------------------------- */
#Curtain { position:fixed;width:100%;height:100%;background:#000000;background:rgba(0,0,0,0.8);z-index:10000;top:0px;left:0px;display:none;-webkit-transition:all 0.2s ease-in-out;/* -o-transition:all 0.2s ease-in-out;*/
 -moz-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out; }

#MailChimpHolder { position:fixed;top:100px;z-index:10001;width:100%;display:none;-webkit-transition:all 0.2s ease-in-out;/* -o-transition:all 0.2s ease-in-out;*/
 -moz-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out; }

#MailChimpHolder #MailChimp { border:6px solid #ffde1d;background:#f9f6e2;width:550px;padding:0px 14px;margin:100px auto;border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;-webkit-border-radius:4px;position:relative; }

#MailChimpHolder #MailChimp h2 { font:45px/82px 'DINCond-Medium';text-transform:uppercase;background:url('../images/curl-b.png') bottom repeat-x;margin-bottom:10px; }

#MailChimpHolder #MailChimp label { display:none; }

#CloseMailChimp { position:absolute;right:12px;top:12px;cursor:pointer; }

#MailChimpHolder #MailChimp .mc-field-group { width:50%;float:left; }
#MailChimpHolder #MailChimp .mc-field-group input { width:90%; }

#MailChimpHolder #MailChimp .phonefield { clear:both;width:100%;float:none; }
.phonefield-us { overflow:hidden; }
.phonefield-us span { display:block;float:left;width:28%;margin-right:2%; }
.phonefield-us span input { width:100%; }

#MailChimpHolder #MailChimp .input-group { clear:both;width:100%; }
#MailChimpHolder #MailChimp .input-group label { display:inline-block; }
#MailChimpHolder #MailChimp .input-group ul { list-style:none;list-style-type:none;overflow:hidden; }
#MailChimpHolder #MailChimp .input-group ul li { list-style:none;list-style-type:none;overflow:hidden;float:left;margin-right:10px; }
#MailChimpHolder #MailChimp .input-group ul li input { width:auto!important; }

#MailChimpHolder #MailChimp .clear { overflow:hidden;clear:both; }
#mc-embedded-subscribe { background:#FFDE1D url('../images/arrow-t.png') 100px center no-repeat;float:left;font:22px/48px 'DINCond-Medium';border:0px;text-transform:uppercase;width:134px;padding:0px 10px;text-align:left; }

/* =new css
-------------------------- */
#fittext1 { overflow: hidden; }
#fittext1 span { font-size: inherit; float: left; }
.f-right { float:right!important; }
.about-wrap { padding-top:25px; }
.about-wrap h2 { font-size:24px;font-weight:100;-webkit-transition:all 0.2s ease-in-out;/* -o-transition:all 0.2s ease-in-out;*/
 -moz-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out; }
.about-wrap .row { background-image:url("../images/divider.png");background-repeat:repeat-x;background-position:left 45px; }
.about-wrap p { padding-top:22px;font-family:'DINCond-Medium';font-weight:100; }
.about-wrap h3 { font-size:22px;padding-top:15px;font-family:'din-condensed-web';font-weight:400; }
.about-wrap h1 { text-transform:uppercase;line-height:91px;padding-bottom:25px;width:37%;font-family:'DINCond-Medium';font-weight:100; }
.about-wrap .noImage h1 { width:23.5%; }
.contact-wrap h1 { text-transform:uppercase;line-height:86px;padding-bottom:25px;width:25%;font-family:'DINCond-Medium';font-weight:100; }
.pageimage img { width:100%; }
.textExample { -webkit-transition:all 0.2s ease-in-out;/* -o-transition:all 0.2s ease-in-out;*/
 -moz-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out; }
/* Tabs */
.verticalslider_tabs { float:left;width:37%;-webkit-transition:all 0.2s ease-in-out;/* -o-transition:all 0.2s ease-in-out;*/
 -moz-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;background-image:url("../images/curl-b.png");background-repeat:repeat-x;background-position:left top; }
.noImage .verticalslider_tabs { width:23.5%; }
.verticalslider_tabs { margin:0px;padding:10px 0px 0px 0px; }
.verticalslider_tabs li { background-image:url("../images/curl.png");background-repeat:repeat-x;background-position:bottom left; }
.verticalslider_tabs li { list-style-type:none; }
.verticalslider_tabs a:link,.verticalslider_tabs a:visited { display:block;width:auto;height:auto;padding:5px 10px 33px 50px;font-size:24px;line-height:28px;color:#000;text-transform:uppercase;background-image:url("../images/arrow-big.jpg");background-repeat:no-repeat;background-position:left 10px;font-family:'DINCond-Medium';-webkit-transition:all 0.2s ease-in-out;/* -o-transition:all 0.2s ease-in-out;*/
 -moz-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out; }
.verticalslider_tabs a:hover,.verticalslider_tabs a:active { background-image:url("../images/arrow-big-active.jpg");background-repeat:no-repeat;background-position:left 9px;-webkit-transition:all 0.2s ease-in-out;/* -o-transition:all 0.2s ease-in-out;*/
 -moz-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out; }
.verticalslider_tabs li:first-child a:link,.verticalslider_tabs li:first-child a:visited { border-top:none;-webkit-transition:all 0.2s ease-in-out;/* -o-transition:all 0.2s ease-in-out;*/
 -moz-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out; }
.verticalslider_tabs .activeTab a:link,.verticalslider_tabs .activeTab a:visited { text-decoration:underline;-webkit-transition:all 0.2s ease-in-out;/* -o-transition:all 0.2s ease-in-out;*/
 -moz-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out; }
.verticalslider_tabs .activeTab a:hover,.verticalslider_tabs .activeTab a:active { }
.verticalslider .arrow { background:url("../images/arrow-big-active.jpg");background-repeat:no-repeat;width:41px;height:36px;position:absolute;z-index:1000;margin-left:0px;margin-top:-58px;-webkit-transition:all 0.2s ease-in-out;/* -o-transition:all 0.2s ease-in-out;*/
 -moz-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;width:60%; }
/* Contents */
.span8.noImage .verticalslider_contents { width:63%;margin-left:0px; }
.verticalslider_contents { float:left;display:inline;margin:-127px 0px 0px 12px;padding:0px; }
.verticalslider_contents li,.verticalslider_contents .contentContainer { margin:0px;padding:0px;width:439px;overflow:visible;height:auto!important;padding:0px;position:relative;list-style-type:none; }
.span8.noImage .verticalslider_contents .contentContainer { padding-left:12px;width:90%; }
.verticalslider_contents li h2,.verticalslider_contents .contentContainer h2 { font-family:Georgia,"Times New Roman",Times,serif,font-size:15px;color:#333333;margin:5px 20px;padding:0px; }
.verticalslider_contents li p,.verticalslider_contents .contentContainer p, .verticalslider_contents .contentContainer h4 { margin:5px 20px;line-height:24px;padding:0px;padding-bottom:20px;color:#333333;font-family:"museo-sans", tahoma,Geneva,sans-serif;font-size:15px; }
.verticalslider_contents .activeContent { display:inline; }
/* Play Pause*/
.verticalslider .playPause a { display:block;width:60px;height:60px;position:absolute;z-index:50; }
.verticalslider .play a:link,.verticalslider .play a:visited { background:url("http://www.mylittletribe.com.au/themes/mlt/images/plays.png") no-repeat 0 0;display:none; }
.verticalslider .pause a:link,.verticalslider .pause a:visited { background:url("http://www.mylittletribe.com.au/themes/mlt/images/pauses.png") no-repeat 0 0; }
.verticalslider .pause a:hover,.verticalslider .pause a:active,.verticalslider .play a:hover,.verticalslider .play a:active { background-position:0px -60px;border-bottom:none; }
.border-1 { background-image:url("../images/curl-b.png");background-repeat:repeat-x;background-position:left bottom;padding:4px 4px 10px 4px; }

.leftcol { width:25%;float:left; }
.leftcol ul { }
.leftcol ul li { background-image:url("../images/curl.png");background-repeat:repeat-x;background-position:bottom left;list-style:none inside; }
.leftcol ul li a { display:block;font-size:15px;text-transform:uppercase;font-family:'DINCond-Medium'; font-size:17px;color:#000;line-height:normal; }
.leftcol ul li a.btn span.text { display:block;height:36px;padding:14px 10px 19px 50px;position:relative; }

.leftcol ul li a.btn span.icon { display:block;width:40px;height:35px;opacity:0;-webkit-transition:all 0.2s ease-in-out;/* -o-transition:all 0.2s ease-in-out;*/
 -moz-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;position:absolute;top:50%;margin-top:-18px;left:0px; }

.leftcol ul li a:hover span.icon { opacity:1!important; }
.leftcol h1 { text-transform:uppercase;line-height:86px;padding-bottom:25px;font-family:'DINCond-Medium';font-weight:100; }
.arrow-blue { background-image:url("../images/arrow-blue.jpg");background-repeat:no-repeat;background-position:left; }
.arrow-pink { background-image:url("../images/arrow-pink.jpg");background-repeat:no-repeat;background-position:left; }
.arrow-green { background-image:url("../images/arrow-green.jpg");background-repeat:no-repeat;background-position:left; }
.arrow-orange { background-image:url("../images/arrow-orange.jpg");background-repeat:no-repeat;background-position:left; }
.leftcol ul li a.btn span.icon { background: url("../images/arrow-blog-hover.jpg") left no-repeat; }  

/* month filter */
.filter-month-btn { display:block!important;height:auto!important;padding:13px 10px 13px 36px!important;line-height:normal!important;width:auto!important;background-color:#ffe449;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;font-size:14px!important;text-transform:capitalize!important;margin-top:19px; }
.filter-month span img { vertical-align:bottom; }
.filter-month { }
.filter-month span { float:right; }
.filter-month ul { position:relative;background-image:url("../images/curl.png");background-repeat:repeat-x;background-position:left bottom;padding-bottom:23px;margin-bottom:30px; }
.filter-month ul.thumbnails {background:none;}
.filter-month ul li { background-image:none; }
.filter-month ul li a { height:auto;padding:0px; }
.filter-month ul ul { display:none;position:absolute;width:100%;z-index:10;background:#FFE449;background-image:none; }
.filter-month ul ul li { border-top:2px solid #edd446; -webkit-transition:all 0.2s ease-in-out; -o-transition:all 0.2s ease-in-out;}
.filter-month ul ul li a { display:block;padding:9px 10px 9px 38px; }
.filter-month ul li:hover ul { display:block; }
.filter-month ul li ul li:hover {background-color:#edd446;}
.filter-month .thumbnail > img { display:block;left:-4px;margin-left:auto;margin-right:auto;max-width:none;top:0px; }
.filter-month img.color { left:10px;max-width:100%;position:absolute;top:0; }
.filter-month img.grey { left:10px;max-width:auto;position:relative;top:0;z-index:10; }
.filter-month .span3 { width:auto; }
.filter-month .thumbnails { margin-left:0px; }
.filter-month .thumbnails > li { margin-left:0px;margin-bottom:0px;background-image:none; }
.contact-wrap { padding-top:25px; }
.contact-wrap div.field { float: left; margin-right: 9px; }
.contact-wrap div.field input { width:256px; margin-right: 0px;padding:5px 7px; }
.contact-wrap div.field.textarea textarea { width:823px;padding:5px 7px; }
.contact-wrap div.field.text label, .contact-wrap div.field.textarea label { position: absolute;margin: 6px 0px 0px 10px; }
.contact-wrap .rightcol{margin-top: -107px;}
.contact-wrap .rightcol .span14 {width: 386px;}
.contact-wrap .field.checkbox input { width: 20px; }
.contact-wrap .field.checkbox label { display: inline-block; }

.rightcol { width:70%;float:right; }
.rightcol p { font-weight:100; font-family: "museo-sans", tahoma,Geneva,sans-serif; font-size: 15px; }
.rightcol span { margin-left:0px;margin-right:25px; }
.divider-2 { background-image:url("../images/divider.png");background-repeat:repeat-x;background-position:bottom left;clear:both;padding-top:30px;display:block; }
.form-wrap { padding-top:22px; }
.recaptcha { background-color:#ffffff;border:3px solid #e2e2e2;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;-moz-transition:border linear 0.2s,box-shadow linear 0.2s;-ms-transition:border linear 0.2s,box-shadow linear 0.2s;-o-transition:border linear 0.2s,box-shadow linear 0.2s;transition:border linear 0.2s,box-shadow linear 0.2s;width:96.2%;padding:8px; }
.captcha-area a { display:table;padding-top:5px; }
.captcha-area span { margin:0px; }
.captcha-area span img { float:left;padding-left:20px;padding-right:66px; }
.captcha-area input { float:left; }
.captcha-area .icons { float:left;margin-right:14px; }
.recaptcha_r1_c1, .recaptcha_r2_c1, .recaptcha_r2_c2, .recaptcha_r3_c1, .recaptcha_r3_c2, .recaptcha_r3_c3, .recaptcha_r4_c4 { display: none; }
.recaptchatable .recaptcha_r4_c1, .recaptchatable .recaptcha_r4_c2, .recaptchatable .recaptcha_r7_c1, .recaptchatable .recaptcha_r8_c1 { background: transparent !important; }
.recaptcha_image_cell img { position: absolute;  }
.recaptcha .recaptchatable #recaptcha_image { border: 0px !important; }
.recaptcha #recaptcha_area,.recaptcha #recaptcha_table { width: 100%!important; border: 0!important; }
#recaptcha_reload_btn { width: 16px; height: 16px; background: url("../images/reload.png") !important; display: block; margin-bottom: 10px; }
#recaptcha_reload_btn img { display: none; }
#recaptcha_switch_audio_btn { width: 16px; height: 16px; background: url("../images/sound.png") !important; display: block; margin-bottom: 10px; }
#recaptcha_switch_audio_btn img { display: none; }
#recaptcha_whatsthis_btn { width: 16px; height: 16px; background: url("../images/question.png") !important; display: block; margin-bottom: 10px; }
#recaptcha_whatsthis_btn img { display: none; }
#recaptcha_response_field { border: 3px solid #E2E2E2!important; }
#recaptcha_instructions_image { font-size: 15px; }

#recaptcha_logo, #recaptcha_tagline { display: none; }
.Actions .action { padding:9px 45px 8px 20px;background-color:#ffde1d;margin-top:12px;display:inline-block;color:#000;text-transform:uppercase;font-family:'DINCond-Medium';font-size:18px;border:none;width:auto;cursor:pointer;background-image:url("../images/arrow-t.png");background-repeat:no-repeat;background-position:65px center;-webkit-transition:all 0.2s ease-in-out;/* -o-transition:all 0.2s ease-in-out;*/
 -moz-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out; }
.Actions .action:hover { background-color:#000;color:#fff;background-image:url("../images/arrow-t-hover.png");background-repeat:no-repeat;background-position:65px center; }
#Form_CommentsForm .field.text { float:left;width:32.3%;margin-right:14px; }
#Form_CommentsForm .field.text input { float:left;width:95%; }
div#Comment { clear:both; }

/* =blog index
-------------------------- */  
.blogBody { background:#fcf9e6 url() 0 0 no-repeat!important;}
.blog-wrap { padding-top:25px; }
.blog-wrap h1 { text-transform:uppercase;line-height:126px;padding-bottom:25px;font-family:'DINCond-Medium';font-weight:100; font-size:50px; }
.blog_img { max-width:100%;padding-bottom:28px; }
.blog_img a { display:block;position:relative; }
.blog_img img { border:20px solid #fff;width:95%;-webkit-transition:all 0.2s ease-in-out;/* -o-transition:all 0.2s ease-in-out;*/
 -moz-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out; }
.blog_img a:hover img { border:20px solid #FEE449; }
.blog_img a section { background:#fee449;background:rgba(254,228,73,0.9);position:absolute;width:95%;margin:0px 20px; padding-bottom:8px;overflow:hidden;top:45%;text-transform:uppercase;font-family:'DINCond-Medium';color:#000; }
.blog_img a section .leftblogTitle { float:left;margin-left:89px;padding-top:26px; margin-right:10px;width: 288px; }
.blog_img a section .leftblogTitle time { color:#FFF;font-size:52px;letter-spacing:-0.03em; }
.blog_img a section .leftblogTitle p { font-size:17px;font-family:'DINCond-Medium'; }
.blog_img a section .rightblogTitle { float:left;width:420px; }
.blog_img a section .rightblogTitle h2 { font-size:31px;line-height:30px;padding:15px 0px 7px 0px; }
.blog_img a section .rightblogTitle h2 .readMore { color:#f08d9f;display:inline-block;border-bottom:2px solid #f08d9f; }  

/* =blog article
-------------------------- */   
.blogArticleHolder { position: relative; padding-bottom: 200px;}   
.blogArticleHolder .girl { position: absolute; bottom: -160px; }
.blog_img .para { font-family:"museo-sans";}
.para p { line-height:24px;padding-top:23px;padding-bottom:0px;margin:0px; }
.para { background-color:#fff;padding:20px; }
.para a { color:#e95f7f;text-decoration:underline;font-size:16px; }
.para span { font-size:20px; }
.para .divider-2 { padding:2px 0px 0px 0px;background-position:right top; }
.para .divider-3 { padding:22px 0px 0px 0px;background-position:right bottom;background-image:url("../images/divider.png");background-repeat:repeat-x; }
.para img { border:0px solid #fff;width:100%;margin-top:25px; }
.blog_img h1 { line-height:normal;padding-bottom:15px; background:url("../images/divider.png") right bottom repeat-x; }
.blog_img h3 { color:#191919;text-transform:uppercase;font-family:'DINCond-Medium';padding-bottom:25px; }
.blog_img h4 { color:#8c8989;text-transform:uppercase;font-family:'DINCond-Medium'; }

.blog_img  article section.articleHeader { text-transform:uppercase;}                       
.blog_img  article section.articleHeader h1 { line-height:50px;}   
.blog_img article section.articleHeader p.authorDate { text-transform:uppercase; background:url("../images/divider.png") right bottom repeat-x; padding-bottom:10px; padding-top:10px; overflow: hidden; }
body article .blog_img article section.articleHeader p.authorDate span { margin-right:5px; }
body article .blog_img article section.articleHeader p.authorDate span.tagCollection { float: right; max-width: 50%; }
body article .blog_img article section.articleHeader p.authorDate span.tagCollection a { float: left; margin-left: 10px; }
.blog_img article section.articleHeader .f-right a { }  /*FIX CATEGORIES - MERGE WITH AUTHORDATE*/

.blog-wrap .shareZone { margin-top: 20px; }

.wysiwyg p, .wysiwyg li {font-family:"museo-sans"; font-size:14px; line-height:20px;}

.comment-area { padding-top:46px;}
body .comment-area p {  font: normal normal normal 13px/17px "museo-sans";margin-bottom: 30px;padding-left:55px;padding-top:0px;padding-bottom:25px;background-image:url("../images/divider.png");background-repeat:repeat-x;background-position:right bottom; }
body article .comment-area h4 { font-size:24px;}
.comment-area img { width:auto;margin-right:10px;margin-top:0px; }
.comment-area .form-wrap textarea { width:64%; }
.comment-area .captcha-area { padding:8px;width:63%;border:0px;box-shadow:none; }
.comment-area .captcha-area span img { padding-right:25px; }
.comment-area span { margin:0px; }
body article .comment-area h3 { font-size:30px; }
.links_blog { }
.links_blog a { text-transform:uppercase;color:#e95f7f;font-size:24px;font-family:'DINCond-Medium';text-decoration:underline; }
.girl { background-image:url("../images/girl.png");background-repeat:no-repeat;background-position:bottom center;height:390px;width:197px;position:absolute;top: -253px;left:50%; }
.girl img { }
.light-gray { color:#676666!important; }

.shareZone .st_fblike_hcount { margin-right: 0px; }
.shareZone .fb_edge_widget_with_comment { width: 90px; }
.shareZone .stButton .st-twitter-counter, .stButton .st-facebook-counter { margin-right: 5px; }

.comment-area .recaptcha_input_area{width: 250px!important;height: 76px!important;}
#recaptcha_area .recaptcha_input_area{height: 57px!important;}

/* =responsive media queries
-------------------------- */
@media (min-width:1360px) { 
	[class*="span"] { float:left;margin-left:29px; }
	.pageWrapper { min-width: 1270px; }
	.container { width:1214px; }
	.span12 { width:1170px; }
	.span11 { width:1070px; }
	.span10 { width:970px; }
	.span9 { width:870px; }
	.span8 { width:770px; }
	.span7 { width:670px; }
	.span6 { width:550px; }
	.span5 { width:440px; }
	.pageimage.span5 { width:399px;border:8px solid white; }
	.span3 { width:281px; }
	.span2 { width:170px; }
	.span1 { width:70px; }
	.thumbnails { margin-left:-30px; }
	.thumbnails > li { margin-left:30px; }
	.row-fluid .thumbnails { margin-left:0; }
	.leftcol { width:25%;float:left; }
	.para img { border:0px solid #fff;width:100%;margin-top:25px; }
	.comment-area img { width:auto;margin-right:10px;margin-top:0px; }
	.comment-area .form-wrap textarea { width:64%; }
	.comment-area .captcha-area { padding:8px;width:63%;border:0px;box-shadow:none; }
	.comment-area .captcha-area span img { padding-right:25px;width:40%; } 
}

@media screen and (min-width: 1150px) and (max-width: 1360px) { .container { width: 1055px; }
	.pageWrapper { min-width: 1150px; }
	.flexslider { width: 723px;height:622px;}
	.flexslider img {width: 723px;height:622px;}
	.slider-wrapper section {width: 282px;}
	.thumbnails {margin-left:0px;}
	.thumbnails > li {width: 282px;margin-left:0px;}
	.thumbnails > li img {width:100%;}
	.tagline-wrap {width:743px;margin-top: -105px;}
	.tagline {margin-right:0px;padding-right:80px;}
	.tagline-wrap span {right:18px;top: 4px;}
	.photgraphy-testimonial-wrap .titleRow h2{width: 437px;margin-right: 160px;}
	.photgraphy-testimonial-wrap article {width: 437px;margin-right: 160px;}
	.verticalslider_contents .contentContainer { width: 378px; }
	.span5.pageimage { width: 383px; border: 8px solid white; }
	#filter-gallery .project.small img { /*width: 323px;height:153px; */ width: 228px; height: 115px;  }
	.blog_img a section .leftblogTitle{ margin-left:20px; margin-right:35px;}
	.slide-caption{width:71.8%;}
	.contact-wrap div.field input { width:220px; margin-right: 0px;padding:5px 7px; }
	.contact-wrap div.field.textarea textarea { width:722px;padding:5px 7px; }
	.recaptcha{width: 94.7%;}
	.blog_img a section .rightblogTitle { float: left; width: 358px; }
}


@media screen and (min-width: 0px) and (max-width: 1150px) { 
	body { border: 0px !important; }
	.container { width: 960px; }
	.pageWrapper { min-width: 1024px; }
	.slider-wrapper { background:url("../images/curl.png") repeat-x bottom;padding-bottom: 32px; }
	.flexslider { width: 696px;height:607px; border: 11px solid white;border-width:7px 7px 8px 8px;margin-right: 19px;}
	.flexslider img {width: 696px;height:607px;}
	.slider-wrapper section {width: 230px;}
	.thumbnails {margin-left:0px;}
	.thumbnails li.span3 { width: 230px;padding-bottom:15px;margin-bottom:6px;margin-left:0px;}
	.thumbnails li.span3 img { width: 100%; }
	.tagline-wrap .tagline {width: 846px;padding-right: 98px;}
	.tagline-wrap span {right: 8px; top: 5px;}
	.photgraphy-testimonial-wrap .titleRow h2{width:460px;}
	.photgraphy-testimonial-wrap article {width:460px;}
	.verticalslider_contents .contentContainer { width: 378px; }
	.span5.pageimage { width: 314px; border: 8px solid white; }
	#filter-gallery .project.small {margin-right:18px;}
	#filter-gallery .project.small img { /*width: 452px;height:214px; */ width: 210px; height: 110px; }
	.blog_img a section .leftblogTitle{ margin-left:20px; margin-right:35px;}
	.blog_img a section .rightblogTitle{width:295px;}
	.slide-caption{width:68.9%;}
	.contact-wrap div.field input { width:200px; margin-right: 0px;padding:5px 7px; }
	.contact-wrap div.field.textarea textarea { width:655px;padding:5px 7px; }
	.recaptcha{width: 94.7%;}
	header nav li a { font-size: 18px !important; }
}


html, body {
	overflow-x: hidden;
	width: 100%;
}
.pageWrapper {
	min-width: initial;
	padding: 0 32px;
}
.container {
	max-width: 100%;
}

.nav {
	float: none;
}
.nav > li {
	margin-bottom: 10px;
}
.nav > li .secondary {
	display: none;
}
.nav > li.blogLink {
	display: none;
}
nav .toggleNav {
	width: 38px;
	height: 38px;
	text-align: left;
	text-indent: -9999px;
	background-color: #FFE449;
	position: absolute;
	left: 0;
	display: none;
	cursor: pointer;
}
nav .toggleNav::before, nav .toggleNav::after {
    position: absolute;
    border: 2px solid #FFF;
    top: 35%;
    left: 25%;
    right: 25%;
    content: "";
}
nav .toggleNav::after {
    top: 60%;
}

.about-wrap .left-sidebar {
	float: left;
    width: 24%;
    padding-right: 12px;
    box-sizing: border-box;
}
.about-wrap .left-sidebar h1 {
	width: 100% !important;
}
.about-wrap .left-sidebar .verticalslider_tabs {
	float: left;
	width: 100% !important;
}
.about-wrap .left-sidebar .verticalslider_tabs li {
	position: relative;
}
.about-wrap .left-sidebar .verticalslider_tabs .arrow {
	background: url("../images/arrow-big-active.jpg") no-repeat scroll 0% 0% transparent;
	height: 36px;
	position: absolute;
	z-index: 1000;
	margin-left: 0px;
	margin-top: 0;
	transition: all 0.2s ease-in-out 0s;
	width: 60%;
	top: 8px;
}

.about-wrap .right-sidebar {
	float: right;
	width: 35%;
	border: 8px solid #FFF;
	box-sizing: border-box;
}
.about-wrap .right-sidebar img {
	width: 100%;
}

.about-wrap .center-content {
	float: left;
	width: 76%;
    margin-top: -10px;
}
.about-wrap.with-right-sidebar .center-content {
    width: 39%;
}
.about-wrap .center-content .verticalslider_contents {
	float: none;
	display: block;
	margin: 0;
	padding: 0;
}
.about-wrap .center-content .verticalslider_contents .contentContainer {
	width: auto !important;
}

#fittext1 span {
	float: none;
}

.flexslider {
	height: auto;
}
.flexslider .slides {
	overflow: hidden;
}
.flexslider .slides img {
	max-width: 100%;
	height: auto;
}
.home-slider-wrapper .flexslider {
	width: 74%;
    margin-right: 0px;
    box-sizing: border-box;
}
.home-slider-wrapper section {
	width: 26%;
    padding-left: 20px;
    box-sizing: border-box;
    max-width: 305px;
    float: right;
}
.home-slider-wrapper section .thumbnails {
	margin-left: 0;
}
.home-slider-wrapper section .thumbnails > li {
	width: 100%;
	margin-left: 0px;
}

.gallery-button-area {
	position: relative;
}
.gallery-button-area .readmore {
	width: 110px;
}
.gallery-button-area .readmore.f-right {
	position: absolute;
	right: 0;
	top: 0;
}
.gallery-button-area .slide-caption {
	margin-left: 155px;
    margin-right: 155px;
    float: none;
    width: auto;
}
.photgraphy-testimonial-wrap article {
	float: left;
	width: 45%;
	margin-right: 10%;
	font-size: 22px;
    color: #454545;
}
.photgraphy-testimonial-wrap article.last {
	margin-right: 0 !important;
}
.photgraphy-testimonial-wrap article h2 {
	font-size: 30px;
	font-weight: 100;
	background-image: url("../images/divider.png");
	background-repeat: repeat-x;
	background-position: left bottom;
	padding-bottom: 16px;
}



.contact-wrap form fieldset {
	margin: 0 -5px;
}
.contact-wrap div.field {
	padding: 0 5px;
	margin-right: 0;
	box-sizing: border-box;
	float: none;
}
.contact-wrap div.field.text, .contact-wrap div.field.email {
	width: 33.3%;
	float: left;
}
.contact-wrap div.field.recaptcha {
	width: auto;
	margin: 0 5px;
	padding: 10px;
}
.contact-wrap div.field input:not(.checkbox) {
	width: 100% !important;
	box-sizing: border-box;
	height: 40px;
}
.contact-wrap div.field select {
	height: 30px;
}
.contact-wrap div.field.textarea textarea {
	box-sizing: border-box;
	width: 100% !important;
}
.blog_img > a {
	border: 20px solid #FFF;
	transition: all 0.2s ease-in-out 0s;
	width: 100%;
	box-sizing: border-box;
}
.blog_img > a:hover {
    border-color: #FEE449;
}
.blog_img a img {
	width: 100%;
	border: none !important;
}
.blog_img a section {
	width: 100%;
	margin: 0;
}
.blog_img a section .leftblogTitle,
.blog_img a section .rightblogTitle {
	width: 50%;
	box-sizing: border-box;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0;
}
.blog-wrap .leftcol ul li a.btn span.text {
	height: auto;
	min-height: 36px;
}
.filter-month ul ul {
	padding: 0;
}

#Form_CommentsForm fieldset {
	margin: 0 -5px;
}
#Form_CommentsForm div.field {
	padding: 0 5px;
	margin-right: 0;
	box-sizing: border-box;
	float: none;
}
#Form_CommentsForm div.field.text, #Form_CommentsForm div.field.email {
	width: 33.3%;
	float: left;
	min-width: 190px;
}
#Form_CommentsForm div.field.recaptcha {
	width: auto;
	margin: 0 5px;
	padding: 10px;
}
#Form_CommentsForm div.field.textarea textarea {
	box-sizing: border-box;
	width: 100% !important;
}
#Form_CommentsForm input[type="text"],
#Form_CommentsForm input[type="email"] {
	width: 100% !important;
	height: 40px;
	box-sizing: border-box;
}
.recaptcha .recaptchatable #recaptcha_image {
	width: 100% !important;
}
.recaptchatable #recaptcha_image #recaptcha_challenge_image {
	max-width: 100%;
}
#recaptcha_area .recaptcha_input_area {
	width: 170px !important;
}

.shareZone span {
	margin-right: 0;
}

.row {
	margin: 0 -10px;
}
.row .half {
	float: left;
	width: 50%;
	padding: 0 10px;
	margin: 0;
	box-sizing: border-box;
}

@media (max-width:1360px) { 
	.brand {
		margin-right: 80px;
	}
	.verticalslider_tabs a:link, .verticalslider_tabs a:visited {
		font-size: 20px;
	}
}

@media screen and (min-width: 1150px) and (max-width: 1360px) {
	.tagline-wrap {
	    width: auto;
	    margin-top: 0;
	}
	.tagline {
		padding-right: 110px;
	}
	.slider-wrapper {
	    background: url("../images/curl.png") repeat-x scroll center bottom transparent;
	    padding-bottom: 32px;
	}
}

@media screen and (min-width: 0px) and (max-width: 1150px) { 
	.tagline-wrap .tagline {    
		margin: 0px;
	    width: auto;
	    padding: 28px 40px 24px;
	}
	.tagline-wrap span {
		position: static;
		float: right;
		margin-top: -20px;
	}
}

@media screen and (max-width: 991px) { 
	.about-wrap:not(.with-right-sidebar) .left-sidebar {
		width: 230px;
	}
	.about-wrap:not(.with-right-sidebar) .center-content {
		float: none;
		display: block;
		width: auto;
		margin-left: 230px;
	}
	.about-wrap.with-right-sidebar .left-sidebar {
		max-width: 285px;
		width: 40%;
		margin-bottom: 30px;
	}
	.about-wrap.with-right-sidebar .right-sidebar {    
		width: 50%;
	    float: right;
	    margin-bottom: 30px;
	    margin-left: 30px;
	}
	.about-wrap.with-right-sidebar .center-content {
		float: none;
	    display: block;
	    width: 100%;
	    clear: left;
	}
	.about-wrap.with-right-sidebar .center-content .verticalslider_contents .contentContainer {
		margin: 0 -20px;
	}
	.blog-wrap .leftcol {
		width: 230px;
	}
	.blog-wrap .rightcol {
		display: block;
		float: none;
		margin-left: 270px;
		width: auto;
	}
	.blog_img a section .rightblogTitle h2 {
		font-size: 22px;
		line-height: 22px;
	}
	.blog_img a section .leftblogTitle time {
		font-size: 32px;
	}
	.blog_img a section .leftblogTitle p {
		font-size: 14px;
		line-height: 14px;
	}
	.blog_img a section .rightblogTitle h2 .readMore {
		font-size: 14px;
		line-height: 14px;
	}
}

@media screen and (max-width: 767px) { 
	header nav {
		position: absolute;
		left: 0;
		width: 250px;
		top: 30px;
		margin: 0;
		z-index: 999;
	}
	header .nav {
		margin: 0;
		background: #FFE449;
		margin-top: 38px;
		display: none;
	}
	header nav.open .nav {
		display: block;
	}
	nav .toggleNav {
		display: block;
	}
	.nav li {
		margin: 0;
		padding: 0;
		float: none;
		border-top: 2px solid #EDD446;
	}
	.nav > li:first-child {
		border-top: 0;
	}
	.nav li a {
		padding: 9px 10px 9px 68px;
		display: block;
		margin: 0;
		background-position: 20px center !important;
		color: #454545;
		font-family: "DINCond-Medium" !important;
		text-transform: uppercase;
		background-image: url("../images/arow-orange.png");
		background-repeat: no-repeat;
		color: #000;
	}
	.nav li:hover > a {
		background-image: url("../images/arrow-pink.png");
		text-decoration: none;
	}
	.nav .active > a,
	.nav .active:hover > a {
		text-decoration: underline;
	}
	.nav > li .secondary {
		display: hidden;
		padding-left: 20px;
    	list-style: none;
	}
	.nav > li:hover {
		background-color: #FFEE61;
	}
	.nav > li:hover .secondary {
		display: block;
	}

	.nav > li.blogLink {
		display: block;
	}

	.about-wrap .left-sidebar {
		width: 230px !important;
		float: none;
		padding: 0;
		margin: 0 auto 50px auto !important;
	}
	.about-wrap .left-sidebar .verticalslider_tabs li {
		display: none;
	}
	.about-wrap .left-sidebar h1 {
		width: 250px;
		padding-bottom: 15px;
	}
	.about-wrap.with-right-sidebar .right-sidebar {
		clear: left;
		margin-left: 0;
		width: 100%;
		float: none;
	}
	.about-wrap .center-content {
		float: none;
		clear: left;
		margin-left: 0 !important;
	}
	.about-wrap .center-content .verticalslider_contents .contentContainer {
		margin: 0 -20px;
	}

	#fittext1 {
		text-align: center;
	}
	.contact-wrap .headerHolder h1,
	.blog-wrap .leftcol h1 {
		width: 230px;
		margin: 0 auto;
		padding-bottom: 0;
	}
	.blog-wrap .leftcol h1 {
		width: 180px;
		line-height: 86px;
	}
	.contact-wrap .leftcol,
	.blog-wrap .leftcol {
		width: 230px;
		float: none;
		margin: 0 auto;
		padding-bottom: 50px;
	}
	.blog-wrap .leftcol {
		width: 170px;
	}
	.blog-wrap .leftcol aside {
		display: none;
	}
	.blog-wrap .leftcol aside.filter-month {
		display: block;
	}
	.blog-wrap .leftcol aside.filter-month ul {
		margin: 0;
	}
	.blog-wrap .leftcol aside.filter-month ul.thumbnails {
		display: none;
	}
	.contact-wrap .rightcol,
	.blog-wrap .rightcol {
		width: 100%;
		float: none;
		margin-top: 0;
		margin-left: 0;
		clear: left;
	}
	.row .half {
		float: none;
		width: 100%;
		margin-bottom: 30px;
	}

	.footer {
		width: 100%;
		box-sizing: border-box;
	}
	.footer span {
		font-size: 16px;
	}
	.footer .social-footer img {
		width: 25px;
	}

	.flexslider .flex-control-nav {
		display: none;
	}

	.tagline-wrap .tagline { 
		padding-left: 20px;
		padding-right: 20px;
	} 

	.home-slider-wrapper .flexslider
	 {
		width: 100%;
    	float: none;
	}
	.home-slider-wrapper section {
		width: 100%;
		float: none;
		max-width: none;
		padding-left: 0px;
	}
	.home-slider-wrapper section .thumbnails {
		margin: 0 -10px;
	}
	.home-slider-wrapper section .thumbnails > li {
		margin-top: 20px;
		width: 50%;
		padding-left: 10px;
		padding-right: 10px;
		box-sizing: border-box;
	}
	.home-slider-wrapper section .thumbnails > li:nth-child(3) {
		background: none;
	}

	.photgraphy-testimonial-wrap article {
		width: 100%;
		float: none;
		margin-right: 0;
		margin-bottom: 50px;
		font-size: 18px;
	}
	.photgraphy-testimonial-wrap article .readmore {
		margin-top: 20px;
	}

	body article .blog_img article section.articleHeader p.authorDate span.tagCollection {
		display: block;
		max-width: 100%;
		text-align: right;
	}
	body article .blog_img article section.articleHeader p.authorDate span.tagCollection a {
		display: inline;
		float: none;
	}
	.blog_img article section h1 {
		font-size: 40px;
		line-height: 40px !important;
	}
}

@media screen and (max-width: 767px) { 
	body {
		padding-top: 20px;
	}
	.brand {
		margin: 0px auto;
		float: none;
		width: 100px;
	}
	.brand img {
		width: 100px;
	}
	nav {
		margin-top: 30px;
	}
	.blog {
		width: 50px;
		top: -20px;
		display: none;
	}


	.sitemap {
		clear: left;
		float: left;
		text-align: left;
		margin-top: 30px;
	}

	#filter-gallery #projects li {
		margin-right: 0;
	}
	.page-info {
		float: none;
	}

}

@media screen and (max-width: 479px) { 
	.pageWrapper {
		padding: 0 15px;
	}
	nav {
		margin-top: 0px;
	    margin-left: 150px;
	    margin-bottom: 20px;
	}
	nav:after {
		display: block;
		content: '';
		clear: both;
	}
	.nav > li {
		float: none;
	}
	header nav li a {
		font-size: 16px !important;
	}
	.footer-logo img {
		position: absolute;
	    bottom: 10px;
	    width: 80px;
	    right: 20px;
	}


	#filter-gallery #projects li a {
		font-size: 13px;
		padding-left: 25px !important;
	}
	.gallery-nav {
		font-size: 16px;
	}
	.contact-wrap div.field.text, .contact-wrap div.field.email {
		width: 100%;
		float: none;
	}

	.blog_img a section {
		bottom: 0;
		top: auto;
	}
	.blog_img a section .leftblogTitle, .blog_img a section .rightblogTitle {
		width: 100%;
		float: none;
	}
	.blog_img a section .leftblogTitle {
		padding-top: 15px;
	}
	.blog_img a section .leftblogTitle p {
		display: none;
	}
	.blog_img a section .rightblogTitle h2 {
		font-size: 16px;
		line-height: 16px;
		padding: 5px 0;
	}
	.blog_img a section .leftblogTitle time {
		font-size: 26px;
	}
	.blog_img > a {
		border-width: 10px;
	}
	.blog_img article section h1 {
		font-size: 30px !important;
		line-height: 30px !important;
	}

	#Form_CommentsForm div.field.text, #Form_CommentsForm div.field.email {
		width: 100%;
	}
}

@media screen and (max-width: 400px) {
	.gallery-button-area .slide-caption {
		display: none;
	}
}
